.chat-input {
  padding: 5px 10px 5px 10px;
  position: relative;

  &__smile-btn,
  &__actions {
    position: absolute;
    z-index: 1;
  }

  &__smile-btn {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  &__actions {
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    display: flex;

    .photos {
      &:hover {
        .ant-btn {
          color: green;
        }
      }
    }
  }

  &__attachments {
    position: absolute;
    bottom: 50px;

    .ant-upload-list {
      display: flex;
      flex-wrap: wrap-reverse;
    }
  }

  &__emoji-picker {
    position: absolute;
    bottom: 40px;
  }

  &__record-status {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    color: #f56b6b;

    &-buble {
      display: inline-block;
      position: relative;
      height: 10px;
      width: 10px;
      background-color: #f56b6b;
      border-radius: 50%;
      margin-right: 5px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 10px;
        width: 10px;
        background-color: rgba(245, 107, 107, 0.5);
        border-radius: 30px;
        animation: wave-animation 1s ease-in-out infinite;
        transition: transform 0.15s ease-in-out;
        transform: scale(1);
      }
    }

    .stop-record {
      margin-left: 5px;

      &:hover {
        i {
          svg {
            fill: darkred;
            transition: all 0.2s ease-in;
          }
        }
      }
      i {
        svg {
          fill: red;
          position: relative;
          top: -1px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .ant-btn {
    color: #202020; 
    opacity: 0.6;
    &:hover {
      color: green;
    }
  }

  i.anticon {
    font-size: 18px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  input {
    padding-left: 45px;
    padding-right: 100px;
    &:focus {
      box-shadow: none;
    }
  }

  textarea.ant-input {
    padding: 14px 55px 0 30px;
  }
}

@keyframes wave-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}