.chat-input {
  padding: 5px 10px 5px 10px;
  position: relative;

  &__smile-btn,
  &__actions {
    position: absolute;
    z-index: 1;
  }

  &__smile-btn {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  &__actions {
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    display: flex;

    .photos {
      &:hover {
        .ant-btn {
          color: green;
        }
      }
    }
  }

  &__emoji-picker {
    position: absolute;
    bottom: 40px;
  }

  .ant-btn {
    color: #202020; 
    opacity: 0.6;
    &:hover {
      color: green;
    }
  }

  i.anticon {
    font-size: 18px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  input {
    padding-left: 45px;
    padding-right: 100px;
    &:focus {
      box-shadow: none;
    }
  }

  textarea.ant-input {
    padding: 14px 55px 0 30px;
  }
}