.chat {
  background-color: #fff;
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.042404);
  display: flex;
  height: 100%;

  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      height: 62px;
      border-bottom: 1px solid #f7f7f7;

      .ant-btn {
        color: #202020; 
        opacity: 0.6;
        &:hover {
          color: green;
        }
      }

      & > div {
        i {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    &-dialogs {
      height: calc(100% - 140px);
      overflow: auto;
      .dialogs {
        height: 100%;

        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          cursor: pointer;
          transition: all 0.15s ease-in;

          &:hover {
            background-color: #f3f7ff;
          }

          &--selected, &--selected:hover {
            background-color: #3674ff;
            border-radius: 5px;
            color: #fff;

            .dialogs__item-info-bottom {
              p {
                opacity: 0.9;
              }
            }

            .dialogs__item-info-top {
              span {
                opacity: 0.9;
              }
            }
          }
        }
      }
    }
  }

  &__dialog {
    flex: 1;

    &-header {
      padding: 12px;
      border-bottom: 1px solid #f7f7f7;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ant-btn {
        color: #202020; 
        opacity: 0.6;
        &:hover {
          color: green;
        }
      }

      &-center {
        text-align: center;
      }

      &-username {
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
      }
    }

    &-messages {
      height: calc(100% - 142px);
      position: relative;

      .ant-empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}